*.asv
*.avi
*.png
!eyeflow_logo.png
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Python files
*.py
*.ipynb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

test_VOP.m

Models
+iternet5_av_diasys/Shape_To_PadLayer1006.m
+iternet5_av_diasys/Shape_To_PadLayer1013.m
+iternet5_av_diasys/Shape_To_PadLayer1020.m
+iternet5_av_diasys/Shape_To_PadLayer1027.m
+iternet5_av_diasys/Shape_To_PadLayer1034.m
+iternet5_av_diasys/Shape_To_PadLayer1041.m
+iternet5_av_diasys/Shape_To_PadLayer1048.m
+iternet5_av_diasys/Shape_To_PadLayer1055.m
+iternet5_av_diasys/Shape_To_PadLayer1062.m
+iternet5_av_diasys/Shape_To_PadLayer1069.m
+iternet5_av_diasys/Shape_To_PadLayer1076.m
+iternet5_av_diasys/Shape_To_PadLayer1083.m
+iternet5_av_diasys/Shape_To_PadLayer1090.m
+iternet5_av_diasys/Shape_To_PadLayer1097.m
+iternet5_av_diasys/Shape_To_PadLayer1104.m
+iternet5_av_diasys/Shape_To_PadLayer1111.m
+iternet5_av_diasys/Shape_To_PadLayer1118.m
+iternet5_av_diasys/Shape_To_PadLayer1125.m
+iternet5_av_diasys/Shape_To_PadLayer1132.m
+unet_vesselness/DropoutLayer1003.m
+unet_vesselness/DropoutLayer1007.m
+unet_vesselness/DropoutLayer1011.m
+unet_vesselness/DropoutLayer1015.m
+unet_vesselness/DropoutLayer1019.m
+unet_vesselness/DropoutLayer1023.m
+unet_vesselness/DropoutLayer1034.m
+unet_vesselness/DropoutLayer1045.m
+unet_vesselness/DropoutLayer1056.m
+unet_vesselness/Shape_To_PadLayer1030.m
+unet_vesselness/Shape_To_PadLayer1041.m
+unet_vesselness/Shape_To_PadLayer1052.m
+unet_vesselness/Shape_To_PadLayer1063.m
